/*
@desktop: ~"only screen and (min-width: 1366px)";
@tablet: ~"only screen and (min-width: 768px) and (max-width: 1365px)";
@mobile: ~"only screen and (max-width: 767px)";
*/
.padding {
  padding: 42px 0px;
}
@media only screen and (max-width: 999px) {
  .padding {
    padding: 24px 0px;
  }
}
body {
  background-color: #F9F1F0;
  color: #000000;
  font-family: 'Gilroy';
  padding: 24px;
}
body .header {
  background-color: #FADCD9;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 24px;
}
body .header .title_name {
  color: #000000;
  font-size: 1.25em;
}
body .header .title_name_span_1 {
  font-family: 'Gilroy-Light';
  font-weight: 100;
  font-style: italic;
}
@media only screen and (max-width: 999px) {
  body .header .title_name_span_1 {
    font-size: 0.7em;
  }
}
body .header .title_name_span_2 {
  font-weight: lighter;
}
@media only screen and (max-width: 999px) {
  body .header .title_name_span_2 {
    font-size: 0.7em;
  }
}
body .header .nemu_name {
  align-items: center;
  display: flex;
}
body .header .nemu_name ul {
  display: flex;
  gap: 48px;
  font-size: 16px;
  font-weight: thin;
  list-style-type: none;
  margin: 0;
}
@media only screen and (max-width: 999px) {
  body .header .nemu_name ul {
    font-size: 0.7em;
  }
}
body .header .nemu_name ul li {
  display: inline-block;
}
body .header .nemu_name ul li a {
  color: #000000;
  text-decoration: none;
}
body .header .nemu_name ul li a:hover {
  color: #000000;
}
body .profile {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  body .profile {
    display: flex;
    flex-direction: row;
  }
}
body .profile .card1_body {
  background-color: #FADCD9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  color: #000000;
  gap: 24px;
  height: 100%;
  margin-right: 20px;
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  body .profile .card1_body {
    margin-bottom: 20px;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 999px) {
  body .profile .card1_body {
    margin-bottom: 20px;
    margin-right: 0px;
  }
}
body .profile .card1_body_top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 34px;
  margin-right: 30px;
}
body .profile .card1_body_top img {
  width: 119px;
  height: auto;
}
body .profile .card1_body span {
  font-size: 3.4375em;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 24px;
}
@media only screen and (max-width: 999px) {
  body .profile .card1_body span {
    font-size: 2.5em;
    margin-right: 0px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  body .profile .card1_body span {
    font-size: 2.2em;
    margin-right: 0px;
  }
}
body .profile .card2_body {
  display: flex;
  justify-content: end;
  height: 100%;
  margin-left: 20px;
}
@media only screen and (max-width: 999px) {
  body .profile .card2_body {
    flex-direction: column;
    justify-content: center;
    margin-top: 24px;
    margin-left: 0px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  body .profile .card2_body {
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
  }
}
body .profile .card2_body img {
  border-radius: 20px;
}
body .contact {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  body .contact {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (max-width: 999px) {
  body .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    flex: 0 0 auto;
  }
}
body .contact .card3_body {
  width: auto;
  height: 100%;
  background-color: #FADCD9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  gap: 85px;
}
@media only screen and (max-width: 999px) {
  body .contact .card3_body {
    margin-right: 0px;
  }
}
body .contact .card3_body_top img {
  height: 38px;
  width: 38px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 32px;
  margin-left: 24px;
}
body .contact .card3_body_bottom span {
  width: 296px;
  height: 150px;
  font-size: 1.25em;
  color: #000000;
  text-align: left;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 46px;
  margin-left: 24px;
}
@media only screen and (min-width: 1000px) and (max-width: 1200px), only screen and (max-width: 999px) {
  body .contact .card3_body_bottom span {
    font-size: 16px;
    width: 200px;
  }
}
body .contact .card4_body {
  width: auto;
  height: 100%;
  background-color: #F8AFA6;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 150px;
  margin-left: 20px;
}
@media only screen and (max-width: 999px) {
  body .contact .card4_body {
    margin-top: 42px;
    margin-left: 0px;
  }
}
body .contact .card4_body_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .contact .card4_body_top img {
  height: 38px;
  width: 38px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 32px;
  margin-right: 24px;
}
body .contact .card4_body_top span {
  font-size: 16px;
  color: #000000;
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 34px;
  margin-left: 24px;
}
body .contact .card4_body_bottom span {
  font-size: 3.4375em;
  color: #000000;
  text-align: left;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 53px;
  margin-left: 24px;
}
body .form {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #FADCD9;
  margin-top: 42px;
  height: 80%;
  padding: 24px;
  font-size: 1.5em;
}
@media only screen and (max-width: 999px) {
  body .form {
    height: 100%;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  body .form {
    height: 100%;
  }
}
body .form p {
  font-size: 1.25em;
}
body .form .musea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;
}
body .form .musea img {
  width: 26px;
  height: 26px;
}
body .form .form-image {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
}
body .form .border {
  background-color: #000000;
  color: #000000;
}
body .social {
  background-color: #FADCD9;
  border-radius: 20px;
  margin-top: 24px;
  height: 13%;
  align-items: center;
  justify-content: space-around;
  display: flex;
}
body .social ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 75px;
  font-size: 16px;
  font-weight: thin;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
@media only screen and (max-width: 999px) {
  body .social ul {
    font-size: 1.5em;
    gap: 60px;
    margin: 0px;
    padding: 0px;
  }
}
body .social ul li {
  display: inline-block;
}
body .social ul li a {
  color: #000000;
  text-decoration: none;
}
body .social ul li a:hover {
  color: #000000;
}
